/*
 * History:
 *
 * 05/24/21 - Initial writing.
 */
/************************* Slick Slider *************************/
.slick-arrow {
    z-index: 100;
    box-shadow: none;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
}

.slick-next {
    right: 9px;
}

.slick-prev {
    left: 5px;
}

.slick-prev:before, .slick-next:before {
    font-size: 120%;
}

.slick-dots li button {
    box-shadow: none;
}

.slick-dots {
    margin: 0 0 0 0;
}
/************************* Course slider *************************/
.relatedcourseslider, .relatedcourseslider-nav {
    visibility: hidden;
}

.relatedcourseslider-visible, .relatedcourseslider-nav-visible {
    visibility: visible;
}
/************************* Course *************************/
.relatedcourseslider-course {
    position: relative;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #D9D8D6;
    height: 100%;
}

.relatedcourseslider-course-nav {
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}
/************************* Course Anchor*************************/
.relatedcourseslider-course-anchor {
    text-decoration: none;
    height: auto;
}
.relatedcourseslider-course-anchor:hover {
    text-decoration: none;
    height: auto;
}
/************************* Course Summary *************************/
.relatedcourseslider-course-summary {
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relatedcourseslider-course-summary-hovered {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
/************************* Course Image *************************/
.relatedcourseslider-course-image-div {
    margin: 0.5em auto;
    position: relative;
    background: #D9D8D6;
}

.relatedcourseslider-course-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-height:100%;
    min-width:100%;
    object-fit:cover;
}

.relatedcourseslider-course-image-hovered {
    opacity: 0.2;
}
/************************* Course Name *************************/
.relatedcourseslider-course-name-hovered {
    opacity: 0.2;
}

.relatedcourseslider-course-name .relatedcourseslider-course-name-hovered {
    text-decoration: none;
}

.relatedcourseslider-course-name {
    display: block;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 0.5em auto;
}
/************************* Course Truncate *************************
.relatedcourseslider-truncate {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

/* Added slick-track to make all slides the same height.*/
.slick-track {
    display: flex !important;
    /* display: table !important; */
}
